{% extends 'base.html.twig' %}


{% block h1 %}
	<h1>Ticket</h1>
{% endblock %}

{% block nav %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}

		<div class="card" style="width: 50rem;">
			<div class="card-body">
				<p>Tickets non résolu:
					{{TotalticketNR}}</p>
				<p>Tickets Ouvert:
					{{TotalTicketO}}</p>
			</div>
		</div>

	{% endif %}
	{% if is_granted('ROLE_USER') %}

			<h1>Bienvenue sur le gestionnaire de tickets de Dealer De Coque</h1>
			<p>Vous pourrez ici créer des tickets sur des problèmes rencontré sur les différents site</p>

	{% endif %}


{% endblock %}
