{% extends 'base.html.twig' %}

{% block h1 %}
	<h1>Ticket</h1>
{% endblock %}

{% block nav %}{{ parent() }}{% endblock %}

{% block body %}

{% for ticket in tickets %}
	<ul>
		<div class="card" style="width: 50rem;">
			<div class="card-body">
				<a href="ticket/{{ticket.id}}">{{ticket.Titre}}</a>
				<p>{{ticket.Message}}</p>
			</div>
		</div>
	</ul>
{% endfor %}
{% endblock %}
